<form class="container-fluid">
  <div class="row">
    <strong class="float-left">Multiselect Dropdown</strong>
    <label class="float-right">
      <input type="checkbox" name="hasChanges" [(ngModel)]="hasChanges">
      Has Changes
    </label>
  </div>
  <hr>
  <hr>
  <div class="form-group" [ngClass]="{'has-error':!itemsFormElement.valid}">
    <multiselect id="items" name="items" #itemsFormElement="ngModel" class="pull-left" [items]="items" [(ngModel)]="_selectedItems" (ngModelChange)="onChange($event)" required></multiselect>
    <small [hidden]="itemsFormElement.valid" class="form-text text-muted danger">You must select an item.</small>
  </div>
  <ul class="pull-right">
    <li *ngFor="let item of _selectedItems">{{ item.label }}</li>
  </ul>
</form>
